**/*.local.js
**/*.local.json
**/*.log
*.csv
*.dat
*.iml
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.nyc_output
.project
.strong-pm
coverage.lcov
coverage
node_modules
.env
